<% provide(:title, "Your Home") %>
<div id="content-wrap">
<!-- Page wrap -->
    	<div id="page-wrap">
    		<table style="border-collapse: collapse;">
    			<tbody>
    				<tr>
    					<td style="width:30%">
    						<table>
	    						<tr>
	    							<td>
	    								<div class="gravatar">
	    									<%= gravatar_for @user%>
	    								</div>
	    							</td>
    							</tr>
    							<tr>
	    							<td>
	    								<p style="font-size: 18px;font-weight: bold;text-align: center"><%= @user.name %></p>
	    							</td>
	    						</tr>
    						</table>
    					</td>
    				</tr>
    			</tbody>
    			</table>
    			<img src="/assets/page-title.png" style="text-align: center;height: 50px;"/>
			<!--div id="user-header">
				<div id="left-header">
					<%= gravatar_for @user%>
					<p><%= @user.name %></p>
				</div>
				<div id="right-header">
					<span>Hey! it's always feel good to see you back</span>
					<h2>Your Details:</h2>
					<br />
				</div>
				
				 
			 </div-->
      		<div id="side-content">
				<h2 style="padding-top: 20px;">Zoom your city in</h2>
    		</div>
    	<!-- ENDS Page wrap -->
    </div>
    <!-- ENDS content wrap -->
</div>
<!-- ENDS Wrapper -->