<% provide(:title, "About Us") %>
<style type="text/css">
html{
	background: url("/assets/bg1.gif") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
</style>
<div id="box">
	<h1>About Us</h1>
	<h3>Don't memorize it</h3>
	<h3>We are murderer....of time</h3>
</div>
