<div id="content-wrap">
<!-- Page wrap -->
    	<div id="page-wrap">
    	
			<div class="page-title"><h1>Contact Us</h1>
				 <span>Do you want to kill us? Take an appointement.</span></div>
			
			<!-- side content -->
			<div id="side-content">

				<h4>JAS</h4>
				<p>Please fill up this below form. We will get back to you</p>
				
			
				
				<h2 class="title-divider">Contact form</h2>			
				<!-- form -->
				<script type="text/javascript" src="/assets/form-validation.js"></script>
				<form id="formContent" action="#" method="post">
					<fieldset>
						<div>
							<input name="name"  id="name" type="text" class="form-poshytip" title="Enter your full name" />
							<label>Name</label>
						</div>
						<div>
							<input name="email"  id="email" type="text" class="form-poshytip" title="Enter your email address" />
							<label>Email</label>
						</div>
						<div>
							
							<input name="web"  id="web" type="text" class="form-poshytip" title="Enter your website" />
							<label>Website</label>
						</div>
						<div>
							<textarea  name="comments"  id="comments" rows="5" cols="20" class="form-poshytip" title="Enter your comments"></textarea>
						</div>
						
						<!-- send mail configuration -->
						<!--input type="hidden" value="jyotirajanpattnaik@gmail.com" name="to" id="to" />
						<input type="hidden" value="ENter the subject here" name="subject" id="subject" />
						<input type="hidden" value="send-mail.php" name="sendMailUrl" id="sendMailUrl" /-->
						<!-- ENDS send mail configuration -->
						
						<p><input type="button" value="Send" name="submit" id="submit" /> <!--span id="error" class="warning">Message</span--></p>
					</fieldset>
					
				</form>
				<!--p id="success" class="success">Form data sent. Thanks for your comments.</p-->
				<!-- ENDS form -->
		
							
				
			</div>
			<!-- ENDS side content -->



				
													
			
			
			
			<div class="clear"></div>
    	
    	</div>
    	<!-- ENDS Page wrap -->
    	
    </div>
    <!-- ENDS content wrap -->
    
</div>
<!-- ENDS Wrapper -->
  