<% provide(:title, "Forgot Password") %>
<div id="box">
	<p>Nothing to Worry!!! Passwords are meant to be forgotten.</p>
	<p>Follow the steps and Login...</p>
	<%= form_for(:forgotpassword,:url => forgotpasswords_path, :method => "post", :onsubmit=>"return validateFP();") do %>
		<fieldset id="inputs">
			<label for="q" style="font-size: 18px;">Please provide your Email id</label><br/>
			<input type="text" name="forgotpassword[email]" id="q" placeholder="Type your email id" autofocus="required">
		</fieldset>
		<fieldset id="actions" style="margin:1px">
			<%= submit_tag("Submit", :id =>"submit")%>
		</fieldset>
	<% end %>
</div>
<script type="text/javascript">
	function validateFP(){
		var email = $("#q").val();
		if(email == "" || email == null){
			alert("Please enter your email id");
			$("input#q").focus();
			return false;
		}
	}
</script>