<%if signed_in?
	redirect_to microposts_path
end
%>
<% provide(:title, "Mail Sent") %>
<div id="box">
	<div id="error"></div>
		<% flash.each do |key, value| %>
	        <div id="<%= key %>"><%= value %></div>
	      <% end %>
	<p style="font-size: 16px; font-weight: bold;">We have sent you the password reset link to your email id.</p>
	<p style="font-size: 16px; font-weight: bold;">Please check your mail and reset your password</p>
</div>
