<div id="content-wrap">
<!-- Page wrap -->
    	<div id="page-wrap">
    	
			<div class="page-title"><h1>Help</h1> 
				<span>God helps those who help themselves.</span></div>
			
			<!-- side content -->
			<div id="side-content">
				F1
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/><br /><br/>
				<br/><br /><br/>
				<br/><br /><br/>
				<br/><br /><br/>
				<br/><br />
			</div>
			<div class="clear"></div>
    	
    	</div>
    	<!-- ENDS Page wrap -->
    	
    </div>
    <!-- ENDS content wrap -->
    
</div>
<!-- ENDS Wrapper -->
				
