<div id="content-wrap">
<!-- Page wrap -->
    	<div id="page-wrap">
    	
			<div class="page-title"><h1>Home</h1> 
				<span>The safest place in the world</span></div>
			
			<!-- side content -->
			<div id="side-content">
				Welcome
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/><br /><br/>
				<br/><br /><br/>
				<br/><br /><br/>
				<br/><br /><br/>
				<br/><br />
			</div>
			<div class="clear"></div>
    	
    	</div>
    	<!-- ENDS Page wrap -->
    	
    </div>
    <!-- ENDS content wrap -->
    
</div>
<!-- ENDS Wrapper -->
				
