<p>Dear <%= @user.username.titleize %>,
<br/>
Welcome to CityZoomin.
<br/>
<p>Your email address <b><%=@user.email%></b> has been associated with a CityZoomin account.</p>
<p>Share on.</p>
<br>
<p>Happy Sending,</p>
<b>CityZoomin Team</b>
