<p>Dear Admin,</p>
<br/>
<%=@user.username%> (Email: <%=@user.email%> ) has given feedback.
<br/>
<p><b>Feedback Type:&nbsp;</b><%=@user.feedback_type%></p>
<br>
<b>Description: </b><br>
<p><%=@user.description.capitalize%></p>

<p>CityZoomin</p>

