<p>Dear Admin,</p>
<br/>
<%=@page["username"]%> (Email: <%=@page["email"]%> ) has given feedback.
<br/>
<p><b>Feedback Type:&nbsp;</b><%=@page["feedback_type"]%></p>
<br>
<b>Description: </b><br>
<p><%=@page["description"].capitalize%></p>

<p>CityZoomin</p>

