<p>Dear Admin,</p>
<b><%=@page["username"].titleize%></b> (Email: <%=@page["email"]%> ) has given a feedback.
<br/>
<p><b>Feedback Type:&nbsp;</b><%=@page["feedback_type"]%></p>
<br>
<b>Description: </b><br>
<p><%=@page["description"].capitalize%></p>

<p><b>CityZoomin</b></p>

