<p>Dear <%= @user.username.titleize %>,
<br/>
<p>Someone filled out the password recovery form for you on the cityzoomin.com website.</p>
<p>If it wasn't you, don't panic yet -- they can't change your password, if they haven't received this email.</p>
<p>You can just ignore this email, and your password will remain unchanged.</p>

You can continue on to setting a new password by going to:
<br>
<u>http://cityzoomin.com/forgotpasswords/<%=@user.id%>/edit?key=<%=@user.temp_password%></u>
<br>
<p>Happy Sending,</p>
<b>CityZoomin Team</b>