<% provide(:title, "All Post") %>
<div id="box">
	<h1 style="margin-bottom:10px;">Zoomins By All Users</h1>
	<%= form_tag(new_micropost_path, :method => "get", :onsubmit=>"return validatePost();") do %>
		<fieldset id="inputs" style="float:left;width:80%;line-height: 1.5;">
			<label for="q" style="font-size: 18px;">Enter a location to create a post</label><br/>
			<input type="text" name="q" id="q" placeholder="Type the location address" style="width:100%;padding-right:10px;">
		</fieldset>
		<fieldset id="actions" style="float:right;width:13%;line-height: 1.5;margin-top:28px;">
			<%= submit_tag("Create", :id =>"submit",:style=>"height:45px;width:90%;")%>
		</fieldset>
	<% end %>
	<%= render 'multipleposts.html.erb' %>
</div>
<script type="text/javascript">
	function validatePost(){
		var city = $("#q").val();
		if(city == "" || city == null || city == "Type the location address"){
			alert("Please enter a city name");
			$("input#q").focus();
			return false;
		}
	}
</script>
