<% provide(:title, "All Post") %>
<div id="box">
	<h1 style="margin-bottom:10px;">Zoomins By All Users</h1>
	<% flash.each do |key, value| %>
        <div id="<%= key %>" style="display:block;"><%= value %></div>
  	<% end %>
	<%=render 'instant_create'%>
	<%= render 'multipleposts.html.erb' %>
</div>
<script type="text/javascript">
	function validatePost(){
		var city = $("#q").val();
		if(city == "" || city == null || city == "Type the location address"){
			alert("Please enter a city name");
			$("input#q").focus();
			return false;
		}
	}
</script>
<script type="text/javascript">
 
$(document).ready(function(){
 
        $(".slidingDiv").hide();
        $(".show_hide").show();
 
    $('.show_hide').click(function(){
    $(".slidingDiv").slideToggle();
    });
 
});
 
</script>
