#box
{
  position: relative;
  width: 60%;
  background: #ddd;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 2em 1.5em;
  color: rgba(0,0,0, .8);
  text-shadow: 0 1px 0 #fff;
  line-height: 1.5;
  margin-top: 0px;
  margin-bottom:60px;
  margin-left:auto;
  margin-right:auto;
  height: auto;
}

#box:before, #box:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

#box:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

#box a:hover
{
	text-decoration:none;
}


#box h1 {
	background-image: url("/assets/bg-header_black.png");
	font-family: 'PT Sans Narrow';
    background-position: left top;
    background-repeat: repeat-x;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 5px #666666;
    overflow: hidden;
    position: relative;
	border-bottom: 1px solid #218994;
    height: auto;
    overflow: hidden;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom:10px;
    color: #FAFAFA;
    font-size: 26px;
    line-height: 30px;
}
#inner-box
{
  position: relative;
  width: 60%;
  background: #ddd;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 2em 1.5em;
  color: rgba(0,0,0, .8);
  line-height: 1.5;
  margin-top: 5px;
  margin-bottom:20px;
  margin-left:auto;
  margin-right:auto;
  height: auto;
  opacity:0.9;
  background-color: #561D8E;
  color:#fff;
  width:95%;
  padding-top:10px;
  padding-bottom:05px;
  text-shadow: 0 1px 0 #000;
  border: 1px dotted #333333;
  box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.25);
}

#inner-box:before, #inner-box:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

#inner-box:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

#inner-box a:hover
{
	text-decoration:underline;
}

/*For modal window and mask */
#mask
{ 
    position:absolute; /* important */
    top:10px; /* start from top */
    left:0px; /* start from left */
    height:100%; /* cover the whole page */
    width:100%;  /* cover the whole page */
    display:none; /* don't show it '*/          
    /* styling bellow */
    background-color: black; 
}
    
.modal_window{
    position:absolute; /* important so we can position it on center later */
    display:none; /* don't show it */
    
    /* styling bellow */
    color:#000;
}
    /* style a specific modal window  */
#modal_window{
    padding:50px;
    border:1px solid gray;
    background: #246493;
    color:black;
}
