.sp-container {
	width: 900px;
	height: auto;
	position: relative;
	margin: 10px auto 0px auto;
}
.sp-content {
	width: 100%;
	height: 400px;
	position: relative;
}
.sp-content:after {
	content: '';
	width: 4px;
	background: #000;
	height: 100%;
	position: absolute;
	left: 50%;
}
.sp-container h2 {
	color: #fff;
	text-shadow: 0px 0px 1px rgba(0,0,0,0.9);
}
.sp-wrap {
	width: 400px;
	padding: 0px 25px;
	height: 100%;
	text-align: right;
	font-size: 70px;
	line-height: 80px;
	float: left;
	position: relative;
	overflow: hidden;
}
.sp-container .sp-right h2 {
	color: #fff;
	text-shadow: 0px 0px 1px rgba(255,255,255,0.9);
}
.sp-wrap span.sp-mid {
	font-family: 'MisoBold';
	text-transform: uppercase;
	font-size: 100px;
	line-height: 120px;
	position: relative;
}

.sp-right span {
	text-align: left;
}

.sp-wrap i {
	position: absolute;
	width: 60px;
}
.sp-wrap i:first-child {
	color: #000;
}

.sp-full {
	position: absolute;
	font-size: 35px;
	width: 700px;
	margin-left:14%;
}
.sp-full #home_button {
	background: #000;
	color: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 5px 40px;
	display: inline-block;
	font-size: 20px;
}
.sp-full h2 {
	width: 400px;
	padding: 0px 50px 0px 0px;
	float: left;
	text-align: right;
}

.sp-full h1 {
	color:#4EA5CD;
	padding-bottom:10px;
	font-weight: bold;
}

.sp-full h4 {
	padding: 0px 0px 0px 3%;
	float: left;
	text-align: right;
	font-size:60%;
	margin-top:1%;
	color:#fff;
}
.sp-full #home_button:hover {
	opacity: 0.8;
}
