<!--for future use of extended footer-->
<div id="footer">
			<div class="footer-wrapper">
				
				
				<!-- footer-cols -->
				<ul id="footer-cols">
					<li>
						<h6>About The Site</h6>
						<p>A site providing interesting experiences and places about the city.
							These experiences are shared by users related to the place in a particular city.
							They can tag their experience with funny. hangover, dance etc.
							When a new user come, he will search for the city,
							and the results showing experiences related to places in that city will be shown.
							So a user can choose the place according to his mood and taste.
							He also can share about his experience and another place and things go on.
						</p>

						<p>So basically its a tool to explore the city but key is experience, mood etc.</p>
					</li>
					<li>
						<h6>Categories</h6>
						<ul>
							<li><a href="#">Dining and Restaurants</a></li>
							<li><a href="#/">Hang out</a></li>
							<li><a href="#">Pub</a></li>
							<li><a href="#">Disco</a></li>
							<li><a href="#">Shopping</a></li>
							<li><a href="#">Art</a></li>
							<li><a href="#">Food</a></li>
							<li><a href="#">Music</a></li>
							<li><a href="#">Theater</a></li>
						</ul>
					</li>
					<li>
						<div id="tweets" class="footer-col tweet">
	         				<h6>Find Us</h6>
	         			</div>
					</li>
				</ul>
				<!-- ENDS footer-cols -->
				
				<div id="footer-glare"></div>
				
			</div>
		</div>
		<!-- ENDS FOOTER -->
		
		<!-- footer-bottom -->
		<div id="footer-bottom">
			<div class="bottom-wrapper">
				<div id="bottom-left">
					&copy; 2012&nbsp;&nbsp;<b>A SAJ Product</b>
				</div>
				<div id="bottom-right">
					<ul id="footer-nav">
						<li><%= link_to "About",   about_path %></li>
					    <li><%= link_to "Contact", contact_path %></li>
						<li><%= link_to "help",   help_path %></li>
					    <li><%= link_to "home", root_path %></li>
				</div>
			</div>
		</div>
		<!-- ENDS footer-bottom -->